.DiceList {
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 2px;
}

.DiceList-buttons button {
    font-size: inherit;
    display: block;
    min-width: 36pt;
    min-height: 24pt;
    color: white;
    border: solid 1px black;
    margin: 1pt;
}

.DiceList ul {
    display: inline-block;
    margin: 0 16pt;
    padding: 0;
}

.DiceList li {
    display: inline-block;
}

.DiceList.blue {
    background-color: #006;
}

.DiceList.red {
    background-color: #600;
}

.DiceList.green {
    background-color: #060;
}

.blue button {
    background-color: #00a;
}

.red button {
    background-color: #a00;
}

.green button {
    background-color: #0a0;
}

.black button {
    background-color: #000;
}

.blue button:active {
    background-color: #006;
}

.red button:active {
    background-color: #600;
}

.green button:active {
    background-color: #060;
}

.black button:active {
    background-color: #555;
}