.Dice {
    color: white;
    width: 1.5em;
    height: 100%;
    border: 1px solid white;
    border-radius: 10%;
    margin: 2pt;
    text-align: center;
}

.blue {
    background-color: #00a;
}

.red {
    background-color: #a00;
}

.green {
    background-color: #0a0;
}