.Die {
    color: white;
    width: 1.5em;
    height: 100%;
    border: 1px solid white;
    border-radius: 10%;
    margin: 2pt;
    text-align: center;
    user-select: none;
}

.blue {
    background-color: #00a;
}

.red {
    background-color: #a00;
}

.green {
    background-color: #0a0;
}

.disabled {
    background-color: #555 !important;
}

.glow {
    box-shadow: 0 0 4px 2px white;
}
