.Die {
    color: white;
    width: 1.4em;
    font-size: calc(14px + 2vmin);
    border: 1px solid white;
    border-radius: 10%;
    margin: 2pt;
    text-align: center;
    user-select: none;
    transition: box-shadow .5s;
}

.blue {
    background-color: #00a;
}

.red {
    background-color: #a00;
}

.green {
    background-color: #0a0;
}

.disabled {
    background-color: #555 !important;
}

.glow {
    transition: box-shadow 1s;
    box-shadow: 0 0 4px 2px white;
}

@keyframes roll{
    from {
        transform: rotate(0deg);
        color: rgba(255, 255, 255, 0);
    }
    to {
        transform: rotate(1080deg);
        color: white;
    }
}

.roll {
    animation: roll .6s;
}